.result:hover {
  background-color: rgba(125, 125, 125, 1);
}

.result {
  border: 1px solid #b1b4bd;
}

.icon {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.icon:hover {
  color: black;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
  cursor: pointer;
}

.classTitle {
  display: inline-block;
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal_schedule {
  cursor: pointer;
}

.result_title {
  cursor: default;
  text-align: center;
}

.list_box {
  border: 1px solid #b1b4bd;
  border-top: none;
  padding-top: 20px;
}

.page_state_box {
  border: 1px solid #b1b4bd;
  border-bottom: none;
}

.pagination {
  justify-content: center;
}

.page_state {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
}
